/******************************************
*  Author : Author   
*  Created On : Sat Nov 17 2018
*  File : gara.css
*******************************************/
body {
    font-family: sans-serif;
}

.stato {
    display: none;
    background-image : radial-gradient(orange,silver,lightgreen);
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

/* home */
.stato#stato-home {
   
}

.stato#stato-home .button {
    margin-top: 60%;
}

/* fine home*/

#titolo {
    background: rgb(20, 20, 20);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    text-align: center;
}

#titolo h1 {
    color: silver;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.button {
    background: grey;
    color: white;
    padding: 8px;
    text-decoration: none;
    border: 2px white double;
    display: inline-block;
}

/* gara */
.stato#stato-gara {
    color: black;
    
}

#atleti {
    margin-bottom: 25px;
}

.atleta {
    background: rgba(189, 69, 69, 0.4);
    border-bottom: 1px solid grey;
}

.info-atleta {
    text-align: left;
}

.info-atleta  div {
    display: inline-block;
    padding: 5px;

}

.info-atleta .nome { 
    font-weight: bold;
}
.info-atleta .eta-sesso {
    float: right;
}
.info-atleta .eta {
  

}

.info-atleta .sesso {
    border-left: 1px solid black;
    padding-left: 5px;
 

}

.avanzamento .barra {
    height: 10px;
    width: 0%;
    background: black;
}

/* fine gara */